* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header{
    display:flex;
    justify-content: space-between;
    background-color:rgb(196,213,221);
    padding: 20px;
    align-items: center;
}

.navBarLista{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:50px;
    cursor: pointer;
    font-size: 20px;
}

.navBarLista li a{
    text-decoration: none;
    color: black;
}

.navBarItems{
    list-style: none;
    color: #6380b9;
    font-weight: bolder;
    
}


.MLALogo{
    width: 100px;
    height: 100px;
    
    object-fit: cover;
    text-align: center;
    
}
